config = "C:\\Users\\dell\\.gemini\\antigravity\\scratch\\repo-orchestrator\\.config\\depscan.toml"
src_dir_image = "."
reports_dir = "reports_depscan"
csaf = false
csaf_version = "2.1"
profile = "generic"
bom_engine = "auto"
vuln_analyzer = "auto"
reachability_analyzer = "FrameworkReachability"
rust_analyzer_backend = "stable"
go_analyzer_network = "auto"
dotnet_analyzer_mode = "auto"
suggest = true
risk_audit = false
spec_version = "1.6"
project_type = [ "universal",]
report_name = "rendered.report"
deep_scan = false
fuzzy_search = false
search_order = "pcu"
malware_only = false
vdb_scope = "app"
non_universal_scan = false
no_vuln_table = false
server_mode = false
server_host = "127.0.0.1"
server_port = "7070"
enable_debug = false
quiet = false
explain = false
explanation_mode = "EndpointsAndReachables"
annotate = false
src_dir = "C:\\Users\\dell\\.gemini\\antigravity\\scratch\\repo-orchestrator"
exclude_malware = false
html_report_file = "reports_depscan\\depscan.html"
txt_report_file = "reports_depscan\\depscan.txt"
llm_prompt_file = "reports_depscan\\depscan-prompts.md"
